.question{
    margin: auto;
    width: 80%;
    padding: 10px;
}

.input-group{
    margin: auto;
    padding: 10px;
}

#exampleFormControlSelect1{
    padding-left: 10px;
}
#exampleFormControlSelect2{
    padding-left: 10px;
}

label[for=exampleFormControlTextarea3]
{
   font-weight: bold;
}

label[for=exampleFormControlSelect1]
{
    font-weight: bold;
}



.choose_table{
    margin: auto;


}

.choose_table tr td { width:25%; }